* {
  padding: 0;
  margin: 0;
  outline: 0;
}

body {
  font-family: "Comforter Brush", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.raisul {
  clear: both;
}
